/* Estilos generales para el header */
.main-header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  width: 100%;
}

/* Contenedor Flexbox principal para alinear logo y navegación */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilo del logo/imagen */
.header-logo img {
  height: 80px;
  width: auto;
  display: block;
}

/* Estilo de la navegación principal (lista de enlaces) */
.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header-nav ul li {
  position: relative;
}

/* Estilo de los enlaces */
.header-nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  display: block;
  transition: background-color 0.3s;
}

.header-nav a:hover {
  background-color: #555;
  border-radius: 4px;
}


/* Estilos generales para el footer */
.main-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

.main-footer p {
  margin: 5px 0;
  font-size: 0.9em;
}


/* Estilos para el submenú en NAV */
.submenu {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #444; 
  min-width: 150px;
  z-index: 10;
  border-radius: 0 0 4px 4px;
  padding: 5px 0;
}

.submenu li {
  width: 100%;
}

.submenu a {
  padding: 8px 15px;
  color: white;
  display: block;
}

.submenu a:hover {
  background-color: #666;
}

.has-submenu:hover > .submenu {
  display: block;
}


/* Vsita Bienvenida */
.peliculas-lista-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.peliculas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px;
    margin-top: 20px;
}


